.page-changelog {
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    background: linear-gradient(180deg, #1c1b1f, #52525f);
}
.page-changelog .change {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    padding: 1rem;
}
.page-changelog h2,
.page-changelog p {
    color: #f2f2f2;
}
.page-changelog .change {
    margin: 1rem;
}
.page-changelog h2, .page-changelog p {
    margin: 1rem;
}